## Type Casting

    - Convert the python variable datatype to a certain datatype
    - Implicit type conversion 
        -Converts the data type of one variable to another by python automatically and user is not involved here
    - Explicit Type Conversion
        -Python needs user involvement to convert the datatype of a variable into the desired variable that the user wants
        
    - int() -> take float or string as argument and return int 
    - float() -> take int or string as argument and return float
    - string() -> take float or int as argument and return string

In [2]:
#implict type casting

a = 7
print(type(a))
b = 3.7 
print(type(b))
c = a+b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
10.7
<class 'float'>

In [4]:
a = 7
b = 3.5
c = int(a+b)

print(type(a))
print(type(b))
print(c)
print(type(c))

<class 'int'>
<class 'float'>
10
<class 'int'>

In [12]:
# int 
a = 8.5
i_1 = int(a)
print(i_1)
print(type(i_1))
'''
b = "1.5"
i_2 = int(b)
print(i_2)
print(type(i_2))'''

c = "10"
i_3 = int(c)
print(i_3)
print(type(i_3))

'''
d = "abc"
i_4 = int(d)
print(i_4)
print(type(i_4))

'''

#only number must be inside the string to be converted to int float and string inside "" will not be considered and will throw erroe

8
<class 'int'>
10
<class 'int'>

'\nd = "abc"\ni_4 = int(d)\nprint(i_4)\nprint(type(i_4))\n\n'

In [16]:
a = 8.5
f_1 = float(a)
print(f_1)
print(type(f_1))

b = "1.5"
f_2 = float(b)
print(f_2)
print(type(f_2))

c = "10"
f_3 = float(c)
print(f_3)
print(type(f_3))

'''d = "abc"
f_4 = float(d)
print(f_4)
print(type(f_4))'''

8.5
<class 'float'>
1.5
<class 'float'>
10.0
<class 'float'>

'd = "abc"\nf_4 = float(d)\nprint(f_4)\nprint(type(f_4))'

## Operators
    
###    - Symbol that performs specific operations b/w two operands    
####        - Arithmetic operators 
            -> +, -, *, /, %, ** (exponent), // (floor division)             
####        - Comparison operator 
            -> >, <, >=, <=, != (returns true or false)            
####        - Assignment Operators
            -> a=5, +=, -=, *=, /=, //=            
####        - Logical Operator
            -> and -> both true it return true 
            -> or -> if either true it will return true
            -> not -> inverse         
####        - Bitwise Operator
            -> bitwise or ( | )
            -> bitwise and ( & )
            -> bitwise xor ( ^ )
            -> negation ( ~ )
            -> left shift ( << )
            -> right shift ( >> )        
####        - Membership Operator
            -> The membership of a value in a python data structure 
            -> l=[1,2,3,4] 
                -> 3 in l  --> True 
                -> 8 not in l --> True 
                -> 8 in l --> False
####        - Identity Operator
            -> is: If the reference on both operands point to same object then it is true
            -> is not: If the reference on both operands point to same object then it is false

In [1]:
print(0==0.0)
print(1==1.0)

True
True

In [3]:
# Logical operator
x=5 
y = 10

print(x>4 and y<12)
print(x>4 and y>12)

print(x>4 or y>12)

True
False
True

In [13]:
a = 12
b = 5
c = 8
d = 0
print(a and b and c)

print(a and d and c and b)
# checks all value true and then return the last values if there is a 0 then it is false and other values are consider as true

8
0

In [14]:
a = 12
b = 5
c = 8
d = 0

print(a or b or c)

12

In [12]:
print(not(8))
print(not(0))

False
True