## Range 

    - takes 3 things -> start(optional), stop, step(optional)
    - takes only integer values

In [5]:
range_val = range(5)

print(range_val)
print(type(range_val))

range(0, 5)
<class 'range'>

In [8]:
list(range_val)

[0, 1, 2, 3, 4]

In [14]:
range_val2 =(range(10,15))
range_val3 =(range(10,15,2))
print(list(range_val2))
print(list(range_val3))

[10, 11, 12, 13, 14]
[10, 12, 14]

In [20]:
range_val4 = range(-5)
range_val5 = range(0,-5,-1)
print(list(range_val4))
print(list(range_val5))

[]
[0, -1, -2, -3, -4]

## Sets

    - A set is a collection of unordered and unindexed unchangable
    - cannot have a duplicate value
    - indexing is not applicable
    - values can be added and removed in set but a value in a set cannot be changed
    - mutable

In [21]:
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [37]:
## Order is changing

set2 = {1,2,3,2.2,0.2,"Virat", 7.3}

list1 = [1,2,3,2.2,0.2,"Virat", 7.3]

print(set2)
print(list1)

{0.2, 1, 2, 3, 2.2, 7.3, 'Virat'}
[1, 2, 3, 2.2, 0.2, 'Virat', 7.3]

## Boolean

In [27]:
1==2

False

In [28]:
False == 0

True

In [29]:
True == 1

True

In [41]:
set5 = {1,2, True, False, "Virat"}
print(set5)

{False, 1, 2, 'Virat'}

In [45]:
set6 = {1,2,3,4,5,6}

#set6[1] = 3 cannot be changed

#this is because set is unindexed

In [46]:
set6.remove(6)
print(set6)

{1, 2, 3, 4, 5}

## Frozen set 

    - Unordered
    - Duplicates is not allowed
    - Immutable

In [49]:
f_set1 = frozenset((1,2,3,1.0,"KKR"))

print(type(f_set1))
print(f_set1)

<class 'frozenset'>
frozenset({1, 2, 3, 'KKR'})

## Dictionary

    -Dictionary store data values in 'Key:Value' pairs.
    - ordered, changable and donot allow duplicates
    - before pyhton 3.7 dictionaries were unordered
    - mutable

In [51]:
dict_1 = {"Virat":55,"Faf":25,"Green":20}

print(dict_1)
print(type(dict_1))

{'Virat': 55, 'Faf': 25, 'Green': 20}
<class 'dict'>

In [54]:
dict_1.update({"DK":35})
print(dict_1)

{'Virat': 55, 'Faf': 25, 'Green': 20, 'DK': 35}

In [64]:
print(dict_1.keys())

dict_1.update({"Virat":100})
print(dict_1["Virat"])

dict_keys(['Virat', 'Faf', 'Green', 'DK'])
100

In [67]:
dict_2 = {"Virat":[20,30,40],"Jadeja":[50,30,20]}
print(dict_2)

{'Virat': [20, 30, 40], 'Jadeja': [50, 30, 20]}

In [69]:
# dictionary as a value 

dict_3 = {"Indian_Players":{"Virat":20,"Jadeja":20}}
print(dict_3)

{'Indian_Players': {'Virat': 20, 'Jadeja': 20}}

## Boolean

In [70]:
print(bool(False))

False

In [71]:
print(bool(True))

True

In [72]:
print(bool(1))

True

In [73]:
print(bool(0))

False

In [74]:
print(bool(0.0))
print(bool(1.0))

False
True

In [76]:
print(bool([1,2,3]))
print(bool({1,2,3,4}))
print(bool((1,2,3)))

True
True
True

In [78]:
print(bool(""))

False

## None

In [80]:
a = None
print(type(a))

<class 'NoneType'>